// Define variables for your color scheme

// For example:
$brown: #332516;
$blue: #484750;
$saumon: #E27753;
$yellow: #DDB63F;
$pale_yellow: #FDE698;
$green: #49773B;
$light-gray: #f2f0ec ;
$black: black;
