// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Compagnon";
$headers-font: "Murmure";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Murmure";
  font-weight: normal;
  font-style: normal;
  src: url('LeMurmure-Regular.woff') format('woff');
}

@font-face {
  font-family: "Compagnon";
  font-weight: normal;
  font-style: normal;
  src: url('Compagnon-Roman.woff') format('woff');
}
