// Specific CSS for your home-page
body {
  background-color: $blue;
}
.hp-container {
  width: 900px;
  margin: 0 auto;
}

.home-button {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

a:hover {
  font-weight: bold;
}

h4 {
  font-family:"Gentium Basic"
  ;
}
