<div class="container">
  <div class="mountain_list">
    <ul>
      <% @mountains.each do |mountain| %>
        <%= link_to mountain_path(mountain) do %>
          <li><%= mountain.name %> - <small><%= mountain.price %></small></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="add_a_mountain">
    <%= link_to 'Add your mountain', new_mountain_path %>
  </div>
</div>
